@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All"></div>

    <span class="login100-form-title p-b-49">
        Forget Password
    </span>

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
        <span class="label-input100">Password</span>
        <input asp-for="Password" class="input100" type="password" placeholder="Type your Password">
        <span asp-validation-for="Password" class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Confirm Password is required">
        <span class="label-input100">ConfirmPassword</span>
        <input asp-for="ConfirmPassword" class="input100" type="password" placeholder="Confirm your password">
        <span asp-validation-for="ConfirmPassword" class="focus-input100" data-symbol="&#xf190;"></span>
    </div>

    <div class="container-login100-form-btn my-5">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
                Change Password
            </button>
        </div>
    </div>
</form>

