@model RoleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<div>
    <partial name="PartialView/DetailsDeletePartialView" model="@Model"/>
</div>

<div>
    <a class="btn btn-primary" asp-action="Update" asp-route-id="Id">Edit</a>
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</div>